body{
    font-family: "Cairo", sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.salomm:hover{
    color: white;
}
#NavmenuZzz7:hover #NavmenuZzz8 {
    display: block;
}
#NavmenuZzz4 {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: white;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif !important;
    margin: 0 15px;
}
#NavmenuZzz8 {
    display: none;
    position: absolute;
    background: #222222;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 10%);
    z-index: 1;
    width: 200px;
    transition: all 0.3s ease ;
    margin-top: -15px;
    padding: 5px 0;
   
}
#NavmenuZzz {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #252525;
    line-height: 60px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif !important;
    letter-spacing: 0.6px;
    
}
#NavmenuZzz71:hover #NavmenuZzz81 {
    display: block;
}
#NavmenuZzz41 {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif !important;
    margin: 0 15px;
}
#NavmenuZzz81 {
    display: none;
    position: absolute;
    background: #222222;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 10%);
    z-index: 1;
    width: 100px;
    transition: all 0.3s ease ;
    margin-top: -15px;
    /* padding: 5px 0; */
   
}
#NavmenuZzz1 {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #252525;
    line-height: 60px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Rubik', sans-serif !important;
    letter-spacing: 0.6px;
    
}
.sapma{
border: none;
outline: none;
padding: 0 15px;
}